@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 70px;
    padding: 0 115px;
}

.header nav span{
    text-decoration: none;
    color: black;
    margin: 15px;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 0 115px;
    margin-top: 50px;
}

.card{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.card li{
    display: flex;
    flex-direction: column;
    width: 290px;
    gap: 20px;
    border-width: 3px;
    border-color: rgb(233, 233, 233);
    border-style: solid;
    padding-bottom: 10px;
}

.card li:hover{
    border-color: gray;
}

.card li img{
    width: 290px;
    height: 154px;
    border: 6px;
    border-color: gray;
    background-color: rgb(233, 232, 232);
    padding: 0;
}

.cardContent{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 16px;
}

.addToCart{
    font-weight: 600;
}

.addToCart:hover{
    cursor: pointer;
    font-size: 17px;
}

.category{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 44, 136);
    color: white;
    height: 26px;
    
}

.search form{
    display: flex;
    gap: 8px;
}

.search form input{
    width: 280px;
    height: 46px;
    padding-left: 5px;
}

.search form button{
    background-color: rgb(44, 44, 136);
    height: 50px;
    border: none;
    color: white;
    width: 96px;
    font-size: 16px;
}

.shoppingCart{
    max-width: px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 505px;
}

.cart h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    min-height: 50px;
    width: 100%;
    background-color: rgb(44, 44, 136);
}

.cart ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: rgb(236, 236, 236);
    width: 100%;
    overflow: auto;
}

.cart ul li{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.cart ul li div img{
    height: 92px;
    width: 88px;

}


.cartInfo{
    min-height: 126px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    color: white;
    padding-top: 10px;
    display: none;
}

.cartInfo div{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.remove:hover{
    cursor: pointer;
    font-size: 17px;
}

.searchTerm{
    display: none;
}

.emptyCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(235, 235, 235);
    height: 200px;
    width: 100%;
}